body {
    background-color:white;
}
#cnv{
    position:absolute ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:white;
    
}
#bty{
    position:absolute;
    bottom:0;
    height: 50px;
    width: 50px;
    background-color: grey;
}
#btn{
text-align:center;
}
#down{
    position:absolute;
    bottom:0;
    height: 20px;
    width: 90px;
    background-color:black;
    font-style:white;
    border-radius:3px;
}
